<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Me</h2>
            <p>
              I would like to describe myself with 3 keywords, 'GLOBAL' 'IT'
              'DIPLOMAT'.
            </p>
          </div>
          <p>
            "Global", I have various global experiences such as Model United
            Nations, exchange student in Miami University, international
            marketing, and until now, I have been moderating English debating
            session for several years. I am fluent in Japanese, English and of
            course, Korean.
          </p>
          <p>
            "IT", Inspired by platfrom business model and digital transformation
            in banking system, I started my career as a developer. At the
            moment, I am application engineer in Japan and involved in several
            web developing projects. Mainly Java with SpringFramework, but I
            also have strong interest in cloud platform services such as AWS,
            GCP.
          </p>
          <p>
            "Diplomat", I have excellent skill in communication and negotiation.
            Not only I literally studied international laws and economics for
            several years to become diplomat, but also I have experience a lot
            of communities, customer services, and consultings.
          </p>
          <p>
            As a Global IT Diplomat, I am always aiming for delivering excellent
            technical support and services to customers in order to make their
            business more efficient,
            <br />
            and eventually, make the better world
          </p>
        </div>
      </div>
      <!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/profilePic.png" alt="Img" />
        </div>
      </div>
      <!-- .col-md-5 close -->
    </div>
  </div>
</section>
