<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Global IT Diplomat, Yeah, That's me!</h2>
          <p>
            Global communication, technology, and delivering right services to
            customers are keys for making better future.
          </p>
          <a class="btn btn-default btn-call-to-action" href="#"
            >Feel Free to Contact</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
