<!-- https://themeon.net/nifty/v2.9/icons-ionicons.html -->

<section id="skillsets">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>My Skills</h2>
        <p>Maximum Efforts!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="skillsets-item">
          <i class="icon ion-code"></i>
          <h4>Coding</h4>
          <p>Java (Main), <br />JavaScript, <br />Python</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="skillsets-item">
          <i class="ion-leaf"></i>
          <h4>Web Development</h4>
          <p>Spring Boot, JPA, <br />Spring Batch, Spring Security</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="skillsets-item">
          <i class="ion-cloud"></i>
          <h4>Cloud Engineering</h4>
          <p>Google Cloud Platform, <br />Amazon Web Service</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="skillsets-item">
          <i class="ion-soup-can"></i>
          <h4>Database Management</h4>
          <p>PostgreSQL, MySQL, ORACLE</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="skillsets-item">
          <i class="ion-chatbox"></i>
          <h4>Communication Skills</h4>
          <p>moderating 3 Communities with more than 2500 members</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="skillsets-item">
          <i class="ion-cash"></i>
          <h4>Finance</h4>
          <p>Corporate finance, trading finance, insurance</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="skillsets-item">
          <i class="ion-flag"></i>
          <h4>Leadership</h4>
          <p>
            Captain in Cheerleading team, hosting 3 Communities with more than
            2500 members
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="skillsets-item">
          <i class="ion-earth"></i>
          <h4>Global Skills</h4>
          <p>
            English(Fluent),<br />
            Japanese(Fluent), <br />Korean(Native)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
