<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>WHAT MAKES A BETTER WORLD</h2>
        <p>
          I have been asking this question to myself for several years. As I
          studies Business as my major, I found the answer from the efficiency
          in business. By providing better services with efficient management
          and proper costs, and by giving people an opportunities to invest,
          work, and trade, people can experience properous life. I also strongly
          believe that digital transformation and technology are the key sources
          for better future. When I was involved in designing a financial
          platform at bank, I saw the potential of digital transformation in
          banking system, and platform creating a whole new ecosystem to change
          the way of business. Last but not least, Community and human network.
          I always say, "The era of person studying and growing alone has
          ended." Within several communities such as book review club, english
          debating club, code review, tech talk club, I could experience the
          rapid growth more than I have ever experienced. Not only I broaden my
          perspectives, but it also give me motivations and effective way to
          enhance skills. We all grow together.
        </p>
        <p>
          Maecenas faucibus mollis interdum. Morbi leo risus, porta ac
          consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus
          commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
          amet risus.
        </p>
        <p>
          Maecenas faucibus mollis interdum. Morbi leo risus, porta ac
          consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus
          commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
          amet risus.
        </p>
        <a href="#" class="btn btn-view-works">View Works</a>
      </div>
    </div>
  </div>
</section>
